.hidden {
    display: none;
}

nav a {
    display: block;
    padding: 10px;
    color: black;
    background-color: hsl(321, 33%, 92%);
}

nav {
    display: none;
    background-color: hsl(321, 33%, 92%);
    ;
}

body {
    color: black;
    font-family: serif;

}

.headings {
    color: hsl(337, 34%, 52%);
}

.connect {
    font-family: serif;
    background-color: hsl(327, 100%, 95%);
    color: white
}

.project {
    background-color: hsl(327, 100%, 95%);
}