body {
    color: black;
    font-family: serif;

}

.headings {
    color: hsl(337, 100%, 79%);
}

.connect {
    font-family: serif;
    background-color: hsl(327, 100%, 95%);
}

.project {
    background-color: hsl(327, 100%, 95%);
}